---
layout: default
title: partners
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="nav nav-tab flex-column" role="tablist" aria-orientation="vertical">
          {% for partnertab in page.partners %}
          <a class="nav-link {% if forloop.first %} active {% endif %}" data-toggle="pill" href="#{{ partnertab.title | slugify }}" role="tab">{{ partnertab.title }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content">
          {% for partners in page.partners %}
          <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="{{ parnters.title | slugify }}" role="tabpanel">
            <div class="row">
              {% for partner in partners.partner %}
              <div class="col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="{{ partner.image | relative_url }}" alt="{{ partner.name }}" class="card-img-top">
                  <div class="card-body">
                    <h4 class="h5 mb-4"><a class="text-dark" href="{{ partner.link }}">{{ tool.name }}</a></h4>
                    <a href="{{ partner.link }}" class="btn btn-primary">Visit Site</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
